@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #0b0b0b;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}
@keyframes toastIn {
  from {
    opacity: 0;
    transform: translateX(-120px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}